<div class="main">
  <br />
  <br />
  <br />
  <img src="assets/botellas.jpg" class="img-fluid">
  <br />
  <h1 class="h1">Le Somellire</h1>
  <br />
  <br />
  <br />
  <br />
  <div id="body">
    <!--<img src="assets/restaurant.jpg">-->
    <br />
    <p>
      Somos un bar acogedor que te recibe con los brazos abiertos. Rápidamente nos convertimos en un lugar de reunión
      popular. Nuestro bar es un lugar perfecto para un par de copas después del trabajo o celebraciones de fin de
      semana.
      ¡Tenemos una amplia selección de cócteles, vinos y cervezas que pueden satisfacer a cualquier cliente!. Nos
      enorgullecemos de nuestro servicio amable y personal dedicado, así como de nuestra excelente comida, que siempre
      es
      una victoria para todos nuestros clientes.
    </p>

    <br/>



    <!--mapa-->
  <div class="div">
    <h2>Ven a probarnos</h2>


    <br/>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d784.4490423190746!2d-3.604411257436843!3d37.17191030536441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgondoliere%20granada!5e1!3m2!1ses!2ses!4v1658330085973!5m2!1ses!2ses"
         style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>



    <br/>
  </div>
  <br/>

    <div class="div">
      <h2>Nuestro Horario</h2>
      <br/>
      <br/>

      <h3>Lunes a Domingo</h3>
      <h4>12:00 a 2:00</h4>
      <br/>
      <br/>
      <h3>¿Quieres probar?</h3>
      <button  mat-fab aria-label="instagram">
        Reservar

      </button>
    </div>




    <button class="buttoninstagram" mat-fab aria-label="instagram">
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>

    </button>
    <button class="buttonfacebook" mat-fab aria-label="facebook">
      <a href="https://es-es.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>

    </button>
    <button class="buttontwitter" mat-fab aria-label="twitter">
      <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>

    </button>
    <button class="buttonpinterest" mat-fab aria-label="pinterest">
      <a href="https://www.pinterest.es/" target="_blank"><i class="fa-brands fa-pinterest"></i></a>

    </button>


  </div>

</div>
