<!--<div id="body">-->


<div class="br"></div>

<img [src]="listaMovil ? 'assets/fondo.jpg': 'assets/botellas.jpg'" class="img-fluid" />

<h1 class="h1">Le Somellire</h1>
<div class="br"></div>

<!--<img src="assets/restaurant.jpg">-->

<mat-card>

  <mat-card-actions>
    <p>
      Somos un bar acogedor que te recibe con los brazos abiertos. Rápidamente nos
      convertimos en un lugar de reunión popular. Nuestro bar es un lugar perfecto
      para un par de copas después del trabajo o celebraciones de fin de semana.
      ¡Tenemos una amplia selección de cócteles, vinos y cervezas que pueden
      satisfacer a cualquier cliente!. Nos enorgullecemos de nuestro servicio amable
      y personal dedicado, así como de nuestra excelente comida, que siempre es una
      victoria para todos nuestros clientes.
    </p>
  </mat-card-actions>
</mat-card>

<br>






<br />

<mat-card>
  <mat-card-title>Nuestro Horario</mat-card-title>
  <mat-card-subtitle>Lunes a Domingo</mat-card-subtitle>
  <p class="horario">12:00 a 2:00</p>
  <mat-card-actions>
    <p class="horario">¿Quiere hacer una reserva?</p>
    <button mat-button id="reservar" (click)="reservar()">Reservar</button>
  </mat-card-actions>
</mat-card>
<br />

<mat-card>
  <mat-card-title>Nuestras Redes Sociales</mat-card-title>

  <mat-card-actions>

    <button class="button">
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-5x"></i></a>
    </button>
    <button class="button">
      <a href="https://es-es.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f fa-5x"></i></a>
    </button>
    <button class="button">
      <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter fa-5x"></i></a>
    </button>
    <button class="button">
      <a href="https://www.pinterest.es/" target="_blank"><i class="fa-brands fa-pinterest-p fa-5x"></i></a>
    </button>

  </mat-card-actions>
</mat-card>
<br />
<mat-card>
  <mat-card-title>Ven a probarnos</mat-card-title>
  <mat-card-subtitle>Avenido del Sur, junto a Teatro La Real</mat-card-subtitle>
  <mat-card-actions>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d784.4490423190746!2d-3.604411257436843!3d37.17191030536441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgondoliere%20granada!5e1!3m2!1ses!2ses!4v1658330085973!5m2!1ses!2ses"
      style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </mat-card-actions>
</mat-card>

<br />

<mat-card id="newsletter">
  <mat-card-title>Nuestra Newsletter</mat-card-title>
  <mat-card-subtitle>Al registrarse recibirá correos con ofertas irresistibles</mat-card-subtitle>
  <mat-card-actions>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form">
      <div>


        <mat-form-field appearance="outline" class="cuadrodatos">
          <!--continuar aqui-->
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="nombre">
          <!-- <mat-hint>Introduzca nombre de la tapa</mat-hint>-->
        </mat-form-field>
      </div>

      <div>


        <mat-form-field  appearance="outline" class="cuadrodatos">
          <!--continuar aqui-->
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="correo">
          <!-- <mat-hint>Introduzca nombre de la tapa</mat-hint>-->
        </mat-form-field>
      </div>

     <!-- <div>

        <mat-form-field appearance="outline" class="cuadrodatos">
          <mat-label>Email</mat-label>
          <input type="email" matInput  formControl="correo" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="correo.hasError('email') && !correo.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="correo.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>-->







      <br />

      <button mat-button  type="submit" [disabled]="!profileForm.valid">Guardar</button>
      <br />



    </form>
  </mat-card-actions>
</mat-card>
<br />





<!--</div>-->
<!--formulario de newsletter, redes sociales, fondo movil, juntar el horario y las redes sociales o hacer las redes en footer no se-->
