<br/>
<div class="titulo" mat-dialog-content>Introduce los datos de la tapa</div>
<br/>
<div mat-dialog-actions  >

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form" >
    <div >
      <!--<label for="nombre">Nombre: </label><!--el for es el id creo
      <br/>
      <input id="nombre" type="text" formControlName="nombre">-->

      <mat-form-field appearance="outline" class="cuadrodatos"><!--continuar aqui-->
        <mat-label>Nombre</mat-label>
        <input matInput type="text"  formControlName="nombre">
       <!-- <mat-hint>Introduzca nombre de la tapa</mat-hint>-->
      </mat-form-field>
    </div>

    <div >
      <!--<label for="ingredientes">Ingredientes: </label>
      <br/>
     <!--<input id="ingredientes" type="text" formControlName="ingredientes">
      <textarea name="textarea"  formControlName="ingredientes"></textarea>-->

      <mat-form-field  appearance="outline" class="cuadrodatos">
        <mat-label>Ingredientes</mat-label>
        <textarea matInput formControlName="ingredientes" id="textarea" ></textarea>
      </mat-form-field>
    </div>

    <div >
      <!--<label for="precio">Precio: </label><!--mostrar si los clientes estan loggeados
      <br/>
      <input id="precio" type="number" formControlName="precio">-->

      <mat-form-field appearance="outline" class="cuadrodatos"><!--continuar aqui-->
        <mat-label>Precio</mat-label>
        <input matInput type="text"  formControlName="precio">
       <!-- <mat-hint>Introduzca nombre de la tapa</mat-hint>-->
      </mat-form-field>
    </div>

    <div >

      <input class="file" accept="image/*"  type="file"  formControlName="imagen" (change)="selectImage($event)">
      <br/>
      <!--<label>Si no desea actualizar la foto no pulse el botón de seleccionar archivo</label>-->

    </div>
    <br/>
    <app-loading *ngIf="loading"></app-loading>
    <br/>


    <button mat-button class="button" type="submit" [disabled]="!profileForm.valid">Guardar</button>
    <br/>



  </form>

  <!--<button class="btn btn-primary" mat-button (click)="clickNo()">NO</button>
  <button class="btn btn-primary" mat-button [mat-dialog-close]="true">SI</button>-->

</div>

