form{
  width: 20%;
}
textarea{
  width: 100%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.buttonadd{
  position: fixed;
  bottom: 3%;
  right: 2%;
}

h1{
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: white;

}

mat-divider{
  margin-left:auto;
  margin-right:auto;
  width: 76%;
}

img{
  /* top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);*/

   position: fixed;
   right: 0;
   top: 0;

   z-index: -100;
   opacity: 0.9;
   height: 100%;
   width:100% ;
 }

