
<h1>Tapas</h1>

<app-listatapas></app-listatapas>

<mat-divider></mat-divider>

<br/>

<h1>Raciones</h1>

<app-listaraciones></app-listaraciones>

<mat-divider></mat-divider>

<br/>

<h1>Postres</h1>

<app-listapostres></app-listapostres>

<br/>
<br/>
<br/>



<button class="buttonadd" mat-fab color="warn" aria-label="OpenDialog" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<!--hacer al principio de esta pagina un mural con las fotos de todas las tapas, y si pulsa sobre una de ellas se va hacia ella en al lista-->

<!--hacer un buscador por el nombre de la tapa-->

