form{
  width: 20%;
}
textarea{
  width: 100%;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.buttonadd{
  position: fixed;
  bottom: 3%;
  right: 2%;
}

h1{
  text-align: center;
}

mat-divider{
  margin-left:auto;
  margin-right:auto;
  width: 76%;
}

