<mat-drawer-container hasBackdrop="true" >
  <mat-drawer mode="over" #drawer >
    <br />
    <br />
    <h2>Restaurante</h2>
    <br />
    <button class="mat-drawer-button"  (click)="drawer.close()" mat-button [routerLink]="['/']">Inicio</button>

    <br />
    <button class="mat-drawer-button" (click)="drawer.close()" mat-button [routerLink]="['/carta']">Tapas</button>
    <br />
    <button class="mat-drawer-button" (click)="drawer.close()" mat-button [routerLink]="['/contacto']">Basic</button>
    <br />
    <button class="mat-drawer-button" (click)="drawer.close()" mat-button [routerLink]="['/contacto']">Basic</button>

  </mat-drawer>


  <mat-toolbar color="primary" id="menu">
    <!--esto es el menu de arriba-->
    <button mat-icon-button aria-label="menu"  #buttondrawer  id="button-drawer"(click)="drawer.toggle()"  *ngIf="hideMenuV">
      <mat-icon>menu</mat-icon>

    </button>

    <span id="restaurante">Restaurante</span>
    <div class="pantallas" *ngIf="hideMenuH">
      <button class="button-menu"  mat-button [routerLink]="['/']" >
        Inicio
      </button>
      <button class="button-menu"  mat-button [routerLink]="['/carta']" >
        Carta
      </button>
    </div>

  </mat-toolbar>


  <br />
  <br />
  <br />
  <br />



  <router-outlet></router-outlet>
  <!--<footer>redes sociales, direccion, maps</footer>-->

</mat-drawer-container>




